# Example environment for the API service (api)

# MongoDB connection used by mongoose. In docker-compose we provide a 'mongo' service.
MONGO_URI=mongodb://mongo:27017/school_management1986
PORT=3002

